<section class="map">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="widget">
                            <h3 class="widget-title">{{ page.header.name }}</h3>
                            <div class="widget-content">
                                <p>
                                    {{ page.header.address }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="widget">
                            <h3 class="widget-title">{{ page.header.contact_titile }}</h3>
                            <div class="widget-content"><p>
                                    E-mail:     <a href="mailto:{{ page.header.contact_email }}">{{ page.header.contact_email }}</a>
                                    <br>
                                    Telefon:    {{ page.header.contact_phone }}
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-12 mb-5">
               <div class="map-container ">
                    <div id="googleMaps"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function initMap() {
        var myLatLng = {lat: {{ page.header.latitude|defined(0) }}, lng: {{ page.header.longitude|defined(0) }}};

        var map = new google.maps.Map(document.getElementById('googleMaps'), {
            zoom: {{ page.header.zoom|defined(10) }},
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            {% if page.header.marker_icon %}
            icon: '{{ page.media.images[page.header.marker_icon].cache.url }}'
            {% endif %}
        });
    }
</script>
<script src="http://maps.google.com/maps/api/js?key={{ page.header.google_maps_api_key }}&callback=initMap"></script>
